---
import Base from "../layouts/Base.astro";
import Content from "../layouts/Content.astro";
---

<Base title="Blog">
	<Content title="Blog" prev="/work" next="/contact">
		<div class="mx-auto mt-8">
			<h1 class="text-2xl text-yellow animate-pulse font-serif italic">
				Work in Progress...
			</h1>
		</div>
	</Content>
</Base>
