---
import Base from "../layouts/Base.astro";
import Content from "../layouts/Content.astro";
---

<Base title="Blog">
    <Content title="Blog" prev="/work" next="/contact">
        <div class="mx-auto mt-8">
            <h1 class="animate-pulse font-serif text-2xl italic text-yellow">
                Work in Progress...
            </h1>
        </div>
    </Content>
</Base>
