---
export interface Props {
    href: string;
    title?: string;
    colour: string;
}

const { href, title, colour } = Astro.props as Props;

const isActive = Astro.url.pathname.replace(/\/+$/, "") === href;
---

<a class="md:text-lg font-bold text-surface1" {href}>
    <span class={isActive ? "select neon" : ""}>{"> "}</span><span
        class="neon"
        style={{ color: colour }}>{title ?? href}</span
    ><span class={isActive ? "select neon" : ""}>{" <"}</span>
</a>

<style>
    .select {
        animation: rainbow 4s infinite;
    }
</style>
