<div
    class="mx-auto mt-4 w-5/6 select-none text-justify font-['Patrick_Hand'] leading-snug md:mt-8 md:w-1/2 md:text-xl md:leading-10"
>
    <p>
        <span id="scroll"></span><span class="animate-blink">▌</span><span
            id="tip"
            class="animate-pulse italic text-surface2"
            >Scroll/Tap to learn more...</span
        >
    </p>
</div>
