---
import NavCard from "./NavCard.astro";
---

<div
	class="absolute left-16 bottom-0 h-screen flex flex-col justify-evenly desktop"
	id="fade"
>
	<NavCard title="About" href="/about" colour="#f38ba8" />
	<NavCard title="Skills" href="/skills" colour="#fab387" />
	<NavCard title="Awards" href="/awards" colour="#f9e2af" />
	<NavCard title="Work" href="/work" colour="#a6e3a1" />
	<NavCard title="Blog" href="/blog" colour="#89b4fa" />
	<NavCard title="Contact" href="/contact" colour="#b4befe" />
</div>
