---
export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<div class="opacity-0 transition-opacity duration-1000">
    <button
        class="rounded-lg bg-base px-3 py-1 transition-colors hover:bg-surface0 md:px-4 md:py-3"
    >
        {title}
    </button>
</div>

<style>
    .current {
        @apply bg-surface0;
    }
</style>
