@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply h-screen;
		@apply bg-base;
		@apply text-text;
	}

	a {
		@apply text-blue;
	}

	::-webkit-scrollbar {
		@apply hidden;
	}

	.neon {
		text-shadow: 0 0 4px currentColor;
	}

	.animate-blink {
		animation: blink 2s linear infinite;
	}

	@keyframes blink {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}
	}
}
